body {
  background-color: #212121;
  color: #fff;
}

#form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 15px;
}

input,
button {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  border: none;
  border-radius: 3px;
}

#msg {
  color: yellow;
  font-size: 1.5rem;
  margin: 20px;
}
